<!DOCTYPE html>
{% autoescape None %}
<html>
<head>
    <title>Twitcher</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1><a href="/">Twitcher</a></h1>
        <a href="/api/swagger/">Twitcher Swagger API</a>
        <hr>

        <div class="form-inline">
            <input id="post-text" type="text" class="input-small" style="width: 400px" placeholder="Your text with #tag" autocomplete="off">
            <button id="send-post" class="btn btn-danger">Send post</button>
        </div>

        <hr>
        <h3>Current posts</h3>

        <table class="table table-striped table-bordered table-condensed" id="tab">
            <tr>
                <th>id</th><th>date</th><th>value</th>
            </tr>
        </table>
        <a id="load-more" class="btn btn-primary btn-small">Load more</a>
    </div>

<script type="text/javascript">
    var initial_data = {{ json_encode(initial_data) }};
    var selected_tag = {{ json_encode(selected_tag) }};
</script>

<script type="text/javascript">
function render_text(text) {
    return text.replace(
        /#\w+/g,
        function(tag) {
            return '<a href="/tag/' + tag.substring(1) + '">' + tag + '</a>';
        }
    );
}

function render(value) {
    if ($("#" + value.pid).length != 0) {
        return '';
    }
    return [
        '<tr id="' + value.pid + '">',
        '<td>' + value.pid + '</td>',
        '<td>' + (new Date(value.date + ' UTC')).toLocaleString() + '</td>',
        '<td>' + render_text(value.text) + '</td>',
        '</tr>'
    ].join('')
}

$.each(initial_data, function(index, value) {
  $('#tab tr:last').after(render(value));
});
var last_pid = (initial_data[initial_data.length - 1] || {}).pid;
$('#post-text').focus();


$('#load-more').click(function() {
    $.getJSON(
        (selected_tag) ? "/api/v1/posts/tagged/" + selected_tag : "/api/v1/posts/",
        {before: last_pid},
        function(data) {
            last_pid = (data[data.length - 1] || {}).pid;
            $.each(data, function(index, value) {
                $('#tab tr:last').after(render(value));
            });
        }
    );
})

function send_post() {
    var text = $('#post-text').val();
    var request = {
        "tag": (text.match(/#(\w+)/) || ['', ''])[1],
        "text": text,
    };
    $.post("/api/v1/posts/", JSON.stringify(request), function(data) {
        try {
            $('#tab tr:first').after(render(JSON.parse(data)));
        } catch (err) {};
        $('#post-text').val('');
        $('#post-text').focus();
    });
}

$('#send-post').click(function() {
    send_post();
});
$('#post-text').keypress(function (e) {
    if (e.which == 13) {
        send_post();
        return false;
    }
});


var ws_prefix = window.location.origin.replace(/.*:\/\//, 'ws://') + '/ws/';
var ws = new WebSocket(ws_prefix + (selected_tag || ''));
ws.onopen = function(){
    console.log('ws.onopen');
};
ws.onmessage = function(ev){
    console.log('ws.onmessage', ev.data)
    $('#tab tr:first').after(render(JSON.parse(ev.data)));
};
ws.onclose = function(ev){
    console.log('ws.onclose');
};
ws.onerror = function(ev){
    console.log('ws.onerror');
};
</script>

</body>
</html>
